.header {
  padding: 32px 0;

  background-color: #1e1f25;

  &__container {
    justify-content: space-between;
  }

  &__logo {
    padding-right: 40px;

    border-right: 1px solid rgba(173, 179, 191, 0.4);

    display: flex;
    align-items: center;

    @include tablet {
      padding-right: 15px;

      border: none;
    }
  }

  &__list {
    gap: 40px;
  }

  &__item {
    position: relative;

    padding-right: 24px;

    cursor: pointer;

    &:hover .header__sublist {
      opacity: 1;
    }

    &:before {
      position: absolute;

      right: 0;

      content: url(../img/header-arrow.svg);
    }

    &:nth-child(3) ~ &:before, &:nth-child(4) ~ &:before {
      display: none;
    }
  }

  &__link {
    color: var(--gray-color);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;

    transition: color .3s ease-in-out;

    &:focus {
      outline: none;
    }

    @include hover {
      color: var(--light-color);
    }

    &:active {
      color: var(--blue-color);
    }
  }

  &__sublist {
    opacity: 0;

    position: absolute;

    z-index: 3;

    top: 40px;

    transition: opacity .3s ease-in-out;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__sublist-link {
    padding: 5px;

    color: var(--light-color);

    background-color: rgba(173, 179, 191, .1);

    transition: background-color .3s ease-in-out;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: block;

    width: 110px;

    @include hover {
      background-color: rgba(173, 179, 191, .15);
    }

    &:active {
      color: var(--blue-color);
    }
  }

  &__login {
    gap: 10px;
  }

  &__login-link {
    color: var(--light-color);
    font-size: 18px;
    line-height: 28px;

    padding: 13px 39px;

    transition: background-color .3s ease-in-out;

    &:focus {
      outline: none;
    }

    @include hover {
      background-color: rgba(173, 179, 191, .15);
    }

    &:active {
      color: var(--blue-color);
    }

    &--fill {
      font-size: 20px;
      line-height: 32px;

      border-radius: 4px;
      background: #1b70f1;

      &:focus {
        outline: none;
      }

      @include hover {
        background-color: rgba(27, 113, 241, 0.709);
      }

      &:active {
        color: var(--blue-color);
      }
    }

    @include tablet {
      padding: 7px 19px;
    }
  }
}

.header__logo.focus-visible, .header__link.focus-visible, .header__login-link.focus-visible, .header__login-link--fill.focus-visible {
  outline: 1px solid var(--blue-color);
  outline-offset: 5px;
}
