.hero {
  padding: 160px 0 40px;

  background-color: var(--dark-color);
  background-image: url(../img/hero-bg.png);
  background-position: 115px -190px;

  position: relative;

  &__container {
    z-index: 3;
    position: relative;
  }

  &:after {
    position: absolute;

    content: url(../img/hero-1.png);

    top: 0;
    right: 0;

    @include tablet {
      content: none;
    }
  }

  &__text {
    color: var(--blue-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;

    padding-left: 50px;

    display: block;

    margin-bottom: 10px;

    background-image: url(../img/hero-line.svg);
    background-repeat: no-repeat;
    background-position: left center;
  }

  &__title {
    color: #f7faff;
    font-size: 96px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.5px;

    max-width: 912px;

    margin: 0 0 30px;

    position: relative;

    &:after {
      position: absolute;

      content: url(../img/hero-title-border.svg);

      bottom: -35px;
      left: 216px;

      @include big-desktop {
        left: 0;
      }

      @include tablet {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @include big-desktop {
      max-width: 700px;
      width: fit-content;

      left: 0;

      margin-bottom: 45px;
    }

    @include tablet {
      max-width: none;
    }
  }

  &__descr {
    color: var(--gray-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

    max-width: 812px;

    margin: 0 0 80px;

    @include big-desktop {
      max-width: 575px;

      margin-bottom: 60px;
    }

    @include tablet {
      max-width: none;
    }
  }

  &__links {
    gap: 30px;

    margin-bottom: 165px;

    @include big-desktop {
      margin-bottom: 100px;
    }

    @include tablet {
      gap: 20px;

      margin-bottom: 90px;
    }
  }

  &__link {
    padding: 11px 29px;

    color: var(--light-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

    border: 1px solid var(--light-color);
    border-radius: 4px;

    transition: background-color .3s ease-in-out;

    &:focus {
      outline: none;
    }

    @include hover {
      background-color: rgba(173, 179, 191, .15);
    }

    &:active {
      color: var(--blue-color);
    }

    &--fill {
      background-color: var(--blue-color);

      padding: 12px 70px 12px 48px;

      background-image: url(../img/hero-link-arrow.svg);
      background-repeat: no-repeat;
      background-position: 138px center;

      border-color: transparent;

      @include hover {
        background-color: rgba(27, 113, 241, 0.709);
      }
    }
  }

  &__list {
    justify-content: space-between;

    @include tablet {
      overflow-x: scroll;
    }
  }

  &__item {
    padding-right: 40px;

    position: relative;

    &:after {
      position: absolute;

      content: url(../img/hero-list-line.svg);

      top: 8px;
      right: 0;
    }
  }

  &__item-top {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__currency {
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__level {
    color: #06b470;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    display: block;

    padding-left: 24px;

    background-image: url(../img/hero-level-up.svg);
    background-repeat: no-repeat;
    background-position: left center;
  }

  &__price {
    color: var(--light-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;

    @include tablet {
      font-size: 18px;
    }
  }

  @include big-desktop {
    padding-top: var(--section-offset);
  }

  @include tablet {
    padding-top: 64px;
  }
}

.hero__link.focus-visible {
  outline: 1px solid var(--blue-color);
  outline-offset: 5px;
}