.start {
  padding: var(--section-offset) 0;

  background-color: var(--dark-shark-color);
  background-image: url(../img/start-bg.png);

  position: relative;

  &:after {
    position: absolute;

    content: url(../img/start-ellipse.png);

    bottom: -160px;
  }

  &__container {
    z-index: 3;

    position: relative;
  }

  &__title {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 15px;
    }
  }

  &__descr {
    color: var(--gray-color);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;

    max-width: 1050px;

    margin: 0 auto;

    padding-bottom: 60px;

    position: relative;

    &:after {
      position: absolute;

      content: url(../img/trends-line.svg);

      bottom: 0;
      left: 50%;

      transform: translateX(-50%);
    }

    @include tablet {
      font-size: 22px;
      
      padding-bottom: 40px;

      margin-bottom: 20px;
    }
  }

  &__list {
    margin-top: 60px;

    gap: 30px;

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      row-gap: 30px;

      margin-top: 10px;
    }
  }

  &__item {
    padding: 60px 30px;

    max-width: 375px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    background-color: #272a34;

    @include tablet {
      padding: 30px 20px;
    }
  }

  &__icon {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__heading {
    color: var(--light-color);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;

    margin: 0 0 20px;

    @include tablet {
      font-size: 28px;
    }
  }

  &__describe {
    color: var(--gray-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    margin: 0 0 53px;

    @include tablet {
      margin-bottom: 30px;

      font-size: 18px;
    }
  }

  &__link {
    color: var(--light-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    padding-right: 24px;

    background-image: url(../img/hero-link-arrow.svg);
    background-repeat: no-repeat;
    background-position: 100% center;

    transition: color .3s ease-in-out;

    &:focus {
      outline: none;
    }

    @include hover {
      color: var(--gray-color);
    }

    &:active {
      color: var(--blue-color);
    }

    @include tablet {
      margin-top: auto;

      font-size: 20px;
    }
  }

  @include big-desktop {
    padding: 80px 0;
  }

  @include tablet {
    padding: 64px 0;
  }
}

.start__link.focus-visible {
  outline: 1px solid var(--blue-color);
  outline-offset: 5px;
}
