<section class="choice">
  <div class="container choice__container">
    <div class="choice-desktop">
      <h2 class="title title--centered choice__title">Why Choose Crypto Brains!</h2>

      <p class="choice__descr">When an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book.</p>

      <ul class="choice__list list-reset">
        <li class="choice__item">
          <span class="choice__num"></span>

          <div class="choice__content">
            <h3 class="choice__heading">Easy Trading</h3>
            <p class="choice__describe">It&nbsp;was popularised in&nbsp;the 1960s with the release of&nbsp;Letraset sheets containing Lorem Ipsum passages.</p>
          </div>

          <a class="choice__link" href="#">Start Now</a>
        </li>

        <li class="choice__item">
          <span class="choice__num"></span>

          <div class="choice__content">
            <h3 class="choice__heading">24/7 Help Service</h3>
            <p class="choice__describe">It&nbsp;was popularised in&nbsp;the 1960s with the release of&nbsp;Letraset sheets containing Lorem Ipsum passages.</p>
          </div>

          <a class="choice__link" href="#">Start Now</a>
        </li>

        <li class="choice__item">
          <span class="choice__num"></span>

          <div class="choice__content">
            <h3 class="choice__heading">Fast Service</h3>
            <p class="choice__describe">It&nbsp;was popularised in&nbsp;the 1960s with the release of&nbsp;Letraset sheets containing Lorem Ipsum passages.</p>
          </div>

          <a class="choice__link" href="#">Start Now</a>
        </li>

        <li class="choice__item">
          <span class="choice__num"></span>

          <div class="choice__content">
            <h3 class="choice__heading">Low Charges</h3>
            <p class="choice__describe">It&nbsp;was popularised in&nbsp;the 1960s with the release of&nbsp;Letraset sheets containing Lorem Ipsum passages.</p>
          </div>

          <a class="choice__link" href="#">Start Now</a>
        </li>
      </ul>
    </div>

    <div class="choice-mobile">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex et quisquam accusantium? Maxime omnis pariatur excepturi mollitia corporis placeat cum sed. Fuga consequuntur dicta aut quia eaque sunt labore porro ipsa quas commodi. Aspernatur eveniet, debitis porro quam numquam quibusdam illum, nihil in error quas iste aperiam ab explicabo fugit.
    </div>
  </div>
</section>
