<section class="download">
  <div class="container download__container flex">
    <h2 class="title download__title">Never Miss Trading, Download Our Application</h2>

    <p class="download__descr">Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book.</p>

    <div class="download__links flex">
      <a class="download__link download__link--app-store" href="https://www.apple.com/app-store/" target="_blank">App Store</a>
      <a class="download__link download__link--play-market" href="https://play.google.com/store/apps?hl=ru&gl=US" target="_blank">Play Store</a>
      <a class="download__link download__link--qr" href="" target="_blank"></a>
    </div>
  </div>
</section>