<section class="faq">
  <div class="container faq__container">
    <h2 class="title title--centered faq__title">Frequently Asked Questions</h2>

    <p class="faq__descr">When an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book.</p>

    <div class="faq__questions grid">
      <div class="faq__column">
        <div class="faq-question">
          <h3 class="faq-question__title">What is&nbsp;the difference between Defi and Metaverse ?</h3>
  
          <p class="faq-question__descr" aria-hidden="true">When an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. It&nbsp;has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  
          <button class="faq-question__btn btn-reset" aria-expanded="false">+</button>
        </div>

        <div class="faq-question">
          <h3 class="faq-question__title">What should I&nbsp;do if&nbsp;Google verification fails to&nbsp;bind ?</h3>
  
          <p class="faq-question__descr" aria-hidden="true">When an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. It&nbsp;has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

          <button class="faq-question__btn btn-reset" aria-expanded="false">+</button>
        </div>

        <div class="faq-question">
          <h3 class="faq-question__title">How to&nbsp;complete your KYC Verification ?</h3>
  
          <p class="faq-question__descr" aria-hidden="true">When an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. It&nbsp;has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  
          <button class="faq-question__btn btn-reset" aria-expanded="false">+</button>
        </div>

        <div class="faq-question">
          <h3 class="faq-question__title">What should I&nbsp;do if&nbsp;I enter the Google verification code incorrectly ?</h3>
  
          <p class="faq-question__descr" aria-hidden="true">When an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. It&nbsp;has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  
          <button class="faq-question__btn btn-reset" aria-expanded="false">+</button>
        </div>
      </div>

      <div class="faq__column">
        <div class="faq-question">
          <h3 class="faq-question__title">Can We&nbsp;Enter in&nbsp;Website Without Login or&nbsp;Sign Up ?</h3>
  
          <p class="faq-question__descr" aria-hidden="true">When an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. It&nbsp;has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  
          <button class="faq-question__btn btn-reset" aria-expanded="false">+</button>
        </div>

        <div class="faq-question">
          <h3 class="faq-question__title">What should I&nbsp;do if&nbsp;I lost the binded phone number ?</h3>
  
          <p class="faq-question__descr" aria-hidden="true">When an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. It&nbsp;has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  
          <button class="faq-question__btn btn-reset" aria-expanded="false">+</button>
        </div>

        <div class="faq-question">
          <h3 class="faq-question__title">How to&nbsp;register an&nbsp;account on&nbsp;the web ?</h3>
  
          <p class="faq-question__descr" aria-hidden="true">When an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. It&nbsp;has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  
          <button class="faq-question__btn btn-reset" aria-expanded="false">+</button>
        </div>

        <div class="faq-question">
          <h3 class="faq-question__title">How we&nbsp;Change mobile number ?</h3>
  
          <p class="faq-question__descr" aria-hidden="true">When an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. It&nbsp;has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  
          <button class="faq-question__btn btn-reset" aria-expanded="false">+</button>
        </div>
      </div>
    </div>
  </div>
</section>