<footer class="footer">
  <div class="container">
    <div class="footer__top flex-v-center">
      <a class="footer__logo" href="#">
        <img class="footer__img" src="img/logo.svg" alt="Logo">
      </a>

      <div class="footer__socials flex-v-center">
        <span class="footer__descr">Community-</span>

        <div class="footer__links">
          <a href="" class="footer__link"><img class="footer__pic" src="img/footer-icon1.svg" alt=""></a>
          <a href="" class="footer__link"><img class="footer__pic" src="img/footer-icon2.svg" alt=""></a>
          <a href="" class="footer__link"><img class="footer__pic" src="img/footer-icon3.svg" alt=""></a>
          <a href="" class="footer__link"><img class="footer__pic" src="img/footer-icon4.svg" alt=""></a>
          <a href="" class="footer__link"><img class="footer__pic" src="img/footer-icon5.svg" alt=""></a>
        </div>
      </div>
    </div>

    <div class="footer__middle">
      <div class="footer__column">
        <h3 class="footer__heading">Crypto Brains</h3>
        <a class="footer__text" href="#">About Us</a>
        <a class="footer__text" href="#">Our Team</a>
        <a class="footer__text" href="#">Road Map</a>
        <a class="footer__text" href="#">Risk Disclosure</a>
      </div>

      <div class="footer__column">
        <h3 class="footer__heading">Knowledge</h3>
        <a class="footer__text" href="#">F.A.Q.</a>
        <a class="footer__text" href="#">Articals</a>
        <a class="footer__text" href="#">Video Tutorial</a>
        <a class="footer__text" href="#">Beginner&rsquo;s Guide</a>
      </div>

      <div class="footer__column">
        <h3 class="footer__heading">Services</h3>
        <a class="footer__text" href="#">API Service</a>
        <a class="footer__text" href="#">Token Listing</a>
        <a class="footer__text" href="#">API Document</a>
        <a class="footer__text" href="#">Ticket Services</a>
      </div>

      <div class="footer__column">
        <h3 class="footer__heading">Exchange</h3>
        <a class="footer__text" href="#">P2P</a>
        <a class="footer__text" href="#">Referral</a>
        <a class="footer__text" href="#">Markets</a>
        <a class="footer__text" href="#">Affiliate Program</a>
      </div>

      <div class="footer__column">
        <h3 class="footer__heading">Support Sevice</h3>
        <a class="footer__text" href="#">Career <span class="footer__text footer__text--add">( We&nbsp;Are Hiring )</span></a>
        <a class="footer__text" href="#">Comunity</a>
        <a class="footer__text" href="#">Customer Chat</a>
        <a class="footer__text" href="#">Technical Support</a>
      </div>

      <div class="footer__column">
        <h3 class="footer__heading">Press</h3>
        <a class="footer__text" href="#">Blog</a>
        <a class="footer__text" href="#">News</a>
        <a class="footer__text" href="#">Events</a>
      </div>
    </div>
    
    <div class="footer__bottom flex-v-center">
      <ul class="footer__list list-reset flex-v-center">
        <li class="footer__item">
          <small class="footer__copy">&copy;Copyright 2022 All Rights Are Reserved.</small>
        </li>
        <li class="footer__item">
          <a class="footer__txt-link" href="#">Privacy Policy</a>
        </li>
        <li class="footer__item">
          <a class="footer__txt-link" href="#">Terms of&nbsp;Use</a>
        </li>
      </ul>

      <div class="footer__dropdowns">
        <ul class="footer__dropdown list-reset">
          <li class="footer__dropdown-item">
            <a class="footer__dropdown-link-heading" href="#">English</a>
            <ul class="footer__sublist list-reset">
              <li class="footer__subitem">
                <a class="footer__dropdown-link" href="#">Russian</a>
              </li>

              <li class="footer__subitem">
                <a class="footer__dropdown-link" href="#">Spanish</a>
              </li>

              <li class="footer__subitem">
                <a class="footer__dropdown-link" href="#">Chinese</a>
              </li>

              <li class="footer__subitem">
                <a class="footer__dropdown-link" href="#">German</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="footer__dropdown list-reset">
          <li class="footer__dropdown-item">
            <a class="footer__dropdown-link-heading" href="#">INR</a>
            <ul class="footer__sublist list-reset">
              <li class="footer__subitem">
                <a class="footer__dropdown-link" href="#">USD</a>
              </li>

              <li class="footer__subitem">
                <a class="footer__dropdown-link" href="#">RUB</a>
              </li>

              <li class="footer__subitem">
                <a class="footer__dropdown-link" href="#">EUR</a>
              </li>

              <li class="footer__subitem">
                <a class="footer__dropdown-link" href="#">BYN</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
