<section class="hero">
  <div class="container hero__container">
    <span class="hero__text">Crypto Brains</span>

    <h1 class="hero__title">Buy &amp;&nbsp;Sell Crypto Easy With Crypto Brains</h1>

    <p class="hero__descr">It&nbsp;is&nbsp;a&nbsp;long established fact that a&nbsp;reader will be&nbsp;distracted by&nbsp;the readable content of&nbsp;a&nbsp;page when looking at&nbsp;its layout.</p>

    <div class="hero__links flex-v-center">
      <a class="hero__link hero__link--fill" href="#">Start Now</a>
      <a class="hero__link" href="#">Beginner’s Guide</a>
    </div>

    <ul class="hero__list list-reset flex">
      <li class="hero__item">
        <div class="hero__item-top">
          <span class="hero__currency">BTC&nbsp;/ INR</span>
          <span class="hero__level">5.76%</span>
        </div>
        
        <span class="hero__price">₹ 28,214,25.341</span>
      </li>

      <li class="hero__item">
        <div class="hero__item-top">
          <span class="hero__currency">BTC&nbsp;/ INR</span>
          <span class="hero__level">5.76%</span>
        </div>
        
        <span class="hero__price">₹ 28,214,25.341</span>
      </li>

      <li class="hero__item">
        <div class="hero__item-top">
          <span class="hero__currency">BTC&nbsp;/ INR</span>
          <span class="hero__level">5.76%</span>
        </div>
        
        <span class="hero__price">₹ 28,214,25.341</span>
      </li>

      <li class="hero__item">
        <div class="hero__item-top">
          <span class="hero__currency">BTC&nbsp;/ INR</span>
          <span class="hero__level">5.76%</span>
        </div>
        
        <span class="hero__price">₹ 28,214,25.341</span>
      </li>

      <li class="hero__item">
        <div class="hero__item-top">
          <span class="hero__currency">BTC&nbsp;/ INR</span>
          <span class="hero__level">5.76%</span>
        </div>
        
        <span class="hero__price">₹ 28,214,25.341</span>
      </li>

      <li class="hero__item">
        <div class="hero__item-top">
          <span class="hero__currency">BTC&nbsp;/ INR</span>
          <span class="hero__level">5.76%</span>
        </div>
        
        <span class="hero__price">₹ 28,214,25.341</span>
      </li>

      <li class="hero__item">
        <div class="hero__item-top">
          <span class="hero__currency">BTC&nbsp;/ INR</span>
          <span class="hero__level">5.76%</span>
        </div>
        
        <span class="hero__price">₹ 28,214,25.341</span>
      </li>
    </ul>
  </div>
</section>