<section class="reviews">
  <div class="container reviews__container">
    <div class="reviews__top flex-v-center">
      <h2 class="title reviews__title">What Traders Saying About&nbsp;Us!</h2>
      <p class="reviews__descr">Lorem Ipsum has been the industry&rsquo;s standard dummy text since the 1500s, when an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled type specimen book.</p>
    </div>

    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews-slide">
          <div class="reviews-slide__top flex-v-center">
            <img class="reviews-slide__avatar" src="img/reviews-avatar.png" alt="">

            <div class="reviews-slide__text">
              <h3 class="reviews-slide__name">John Doe</h3>
              <span class="reviews-slide__address">USA, America</span>
            </div>

            <img class="reviews-slide__img" src="img/reviews-quote.svg" alt="">
          </div>

          <blockquote class="reviews-slide__quote">
            <p class="reviews-slide__descr">
              &quot; Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. &quot;
            </p>
          </blockquote>
        </div>
        
        <div class="swiper-slide reviews-slide">
          <div class="reviews-slide__top flex-v-center">
            <img class="reviews-slide__avatar" src="img/reviews-avatar.png" alt="">

            <div class="reviews-slide__text">
              <h3 class="reviews-slide__name">John Doe</h3>
              <span class="reviews-slide__address">USA, America</span>
            </div>

            <img class="reviews-slide__img" src="img/reviews-quote.svg" alt="">
          </div>

          <blockquote class="reviews-slide__quote">
            <p class="reviews-slide__descr">
              &quot; Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. &quot;
            </p>
          </blockquote>
        </div>
        
        <div class="swiper-slide reviews-slide">
          <div class="reviews-slide__top flex-v-center">
            <img class="reviews-slide__avatar" src="img/reviews-avatar.png" alt="">

            <div class="reviews-slide__text">
              <h3 class="reviews-slide__name">John Doe</h3>
              <span class="reviews-slide__address">USA, America</span>
            </div>

            <img class="reviews-slide__img" src="img/reviews-quote.svg" alt="">
          </div>

          <blockquote class="reviews-slide__quote">
            <p class="reviews-slide__descr">
              &quot; Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. &quot;
            </p>
          </blockquote>
        </div>

        <div class="swiper-slide reviews-slide">
          <div class="reviews-slide__top flex-v-center">
            <img class="reviews-slide__avatar" src="img/reviews-avatar.png" alt="">

            <div class="reviews-slide__text">
              <h3 class="reviews-slide__name">John Doe</h3>
              <span class="reviews-slide__address">USA, America</span>
            </div>

            <img class="reviews-slide__img" src="img/reviews-quote.svg" alt="">
          </div>

          <blockquote class="reviews-slide__quote">
            <p class="reviews-slide__descr">
              &quot; Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. &quot;
            </p>
          </blockquote>
        </div>
      </div>

      <div class="swiper-pagination reviews__pagination"></div>
      </div> 
  </div>
</section>