<section class="start">
  <div class="container start__container">
    <h2 class="title title--centered start__title">Start Trading In&nbsp;Simple Process</h2>

    <p class="start__descr">Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book.</p>

    <ul class="start__list list-reset flex">
      <li class="start__item">
        <img class="start__icon" src="img/start-icon-1.svg" alt="">

        <h3 class="start__heading">Create Account</h3>

        <p class="start__describe">Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting industry.</p>

        <a class="start__link" href="#">Sign Up&nbsp;Now</a>
      </li>

      <li class="start__item">
        <img class="start__icon" src="img/start-icon-2.svg" alt="">

        <h3 class="start__heading">Verify Bank Account</h3>

        <p class="start__describe">Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting industry.</p>

        <a class="start__link" href="#">Verify Now</a>
      </li>

      <li class="start__item">
        <img class="start__icon" src="img/start-icon-3.svg" alt="">

        <h3 class="start__heading">Add Fund in&nbsp;Wallet</h3>

        <p class="start__describe">Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting industry.</p>

        <a class="start__link" href="#">Add Now</a>
      </li>

      <li class="start__item">
        <img class="start__icon" src="img/start-icon-4.svg" alt="">

        <h3 class="start__heading">Start Trading</h3>

        <p class="start__describe">Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting industry.</p>

        <a class="start__link" href="#">Start Now</a>
      </li>
    </ul>
  </div>
</section>