<section class="trends">
  <div class="container trends__container">
    <div class="trends__top flex-v-center">
      <h2 class="title trends__title">Market Trends</h2>

      <ul class="trends__list list-reset flex-v-center">
        <li class="trends__item">
          <a class="trends__link" href="#">All</a>
        </li>

        <li class="trends__item">
          <a class="trends__link" href="#">Top Gainers</a>
        </li>

        <li class="trends__item">
          <a class="trends__link" href="#">Top Losers</a>
        </li>

        <li class="trends__item">
          <a class="trends__link" href="#">New Listing</a>
        </li>

        <li class="trends__item">
          <a class="trends__link" href="#">Defi</a>
        </li>

        <li class="trends__item">
          <a class="trends__link" href="#">Metaverse</a>
        </li>
      </ul>
    </div>

    <div class="trends-cards">
      <div class="swiper trends__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide trends__slide">
            <div class="trends-cards__item">
              <img class="trends-cards__img" src="img/trends-icon-1.svg" alt="">
    
              <span class="trends-cards__name">Bitcoin&nbsp;/ BTC</span>
              <span class="trends-cards__level">5.76%</span>
    
              <span class="trends-cards__price">₹ 28,214,25.341</span>
    
              <img class="trends-cards__graph" src="img/trends-graph-1.svg" alt="">
            </div>
          </div>

          <div class="swiper-slide trends__slide">
            <div class="trends-cards__item">
              <img class="trends-cards__img" src="img/trends-icon-2.svg" alt="">
    
              <span class="trends-cards__name">BTS&nbsp;/ BTC</span>
              <span class="trends-cards__level">5.76%</span>
    
              <span class="trends-cards__price">₹ 2,541.12</span>
    
              <img class="trends-cards__graph" src="img/trends-graph-2.svg" alt="">
            </div>
          </div>

            
          <div class="swiper-slide trends__slide">
            <div class="trends-cards__item">
              <img class="trends-cards__img" src="img/trends-icon-3.svg" alt="">
    
              <span class="trends-cards__name">DGD&nbsp;/ BTC</span>
              <span class="trends-cards__level">5.76%</span>
    
              <span class="trends-cards__price">₹ 284.64</span>
    
              <img class="trends-cards__graph" src="img/trends-graph-1.svg" alt="">
            </div>
          </div>
           
          <div class="swiper-slide trends__slide">
            <div class="trends-cards__item">
              <img class="trends-cards__img" src="img/trends-icon-4.svg" alt="">
    
              <span class="trends-cards__name">Ethos&nbsp;/ BTC</span>
              <span class="trends-cards__level">5.76%</span>
    
              <span class="trends-cards__price">₹ 1,146,25.96</span>
    
              <img class="trends-cards__graph" src="img/trends-graph-2.svg" alt="">
            </div>
          </div>
         
          <div class="swiper-slide trends__slide">
            <div class="trends-cards__item">
              <img class="trends-cards__img" src="img/trends-icon-5.svg" alt="">

              <span class="trends-cards__name">KMD&nbsp;/ BTC</span>
              <span class="trends-cards__level">5.76%</span>

              <span class="trends-cards__price">₹ 245.21</span>

              <img class="trends-cards__graph" src="img/trends-graph-2.svg" alt="">
            </div>
          </div>
           
          <div class="swiper-slide trends__slide">
            <div class="trends-cards__item">
              <img class="trends-cards__img" src="img/trends-icon-6.svg" alt="">
    
              <span class="trends-cards__name">Etp&nbsp;/ BTC</span>
              <span class="trends-cards__level">5.76%</span>
    
              <span class="trends-cards__price">₹ 420.83</span>
    
              <img class="trends-cards__graph" src="img/trends-graph-1.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="trends__bottom-link link link--fill" href="#">See All Market</a>
  </div>
</section>